{% if element is not defined %}{% set element = null %}{% endif %}
{% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}

<div class="ui form">
{% for field in fields %}
    {{ craft.fffields.renderField({
        element: element,
        fieldLayoutField: field,
        namespace: namespace,
        assetsFolderId: assetsFolderId
    }) }}
{% endfor %}
</div>