{% include '_includes/js-variables' %}

{% set tabs = fieldLayout.getTabs() %}

<div id="field-layout">
{% if tabs|length > 1 %}
    <div class="ui top attached tabular menu">
        {% for tab in tabs %}
            <a class="{% if loop.first %}active {% endif %}item" data-tab="tab{{ loop.index }}">{{ tab.name }}</a>
        {% endfor %}
    </div>

    {% for tab in tabs %}
        <div class="ui bottom attached tab segment{% if loop.first %} active{% endif %}" data-tab="tab{{ loop.index }}">
            {% include "fields" with {
                fields:  tab.getFields(),
                element: element,
                assetsFolderId: assetsFolderId
            } only %}
        </div>
    {% endfor %}
{% elseif tabs %}
    {% include "fields" with {
        fields:  tabs[0].getFields(),
        element: element,
        assetsFolderId: assetsFolderId
    } only %}
{% endif %}
</div>